[submodule "www/app/plugins/bible"]
	path = www/app/plugins/bible
	url = git://github.com/achan/bible.git
[submodule "www/app/plugins/cuploadify"]
	path = www/app/plugins/cuploadify
	url = git://github.com/achan/cuploadify.git
[submodule "www/app/plugins/img_lib"]
	path = www/app/plugins/img_lib
	url = git://github.com/achan/img_lib.git
[submodule "www/app/plugins/sm2"]
	path = www/app/plugins/sm2
	url = git://github.com/achan/sm2.git
[submodule "www/app/plugins/urg"]
	path = www/app/plugins/urg
	url = git://github.com/achan/urg.git
[submodule "www/app/plugins/urg_post"]
	path = www/app/plugins/urg_post
	url = git://github.com/achan/urg_post.git
[submodule "www/app/plugins/urg_sermon"]
	path = www/app/plugins/urg_sermon
	url = git://github.com/achan/urg_sermon.git
